<?php
$o_security = new Security();
$o_security->pagePermission(1);

$body_class = "admin";
$head_title = "4° EJC | EJC";

include("includes/_header-in.php");
?>

		<section id="content">
			<section class="container">
				EJC
			</section>
		</section>

<?php include("includes/_footer-in.php"); ?>