<?php
$o_security = new Security();
$o_security->pagePermission(1);

$v_params = $this->getParams();
$o_ejc = $v_params['o_ejc'];


$body_class = "admin";
$head_title = "EJCs | EJC";

include("includes/_header-in.php");
?>

		<section id="content">
			<section class="container">

				<section id="search-area" style="display: none;">
					<section class="inner-search-area">
						<input type="text" placeholder="Encontre" class="search-box">
						<button class="search-button">find</button>
					</section>
				</section>

				<ul id="ejc-list" class="list">
					<?php
					foreach ($o_ejc->ar_all as $ar_ejc) {
						$o_parish = $ar_ejc->getParish();
					?>
					<li class="ejc">
						<div class="link-wrapper">
							<a href="" class="ejc-link link" style="background-color:<?php echo $ar_ejc->getTshirt(); ?>">
								<img src="template/images/upload/tshirt-default.png" class="user-photo">
							</a>
						</div>
						<div class="ejc-info info">
							<a href="?controle=EJC&acao=show&id=<?php echo $ar_ejc->getId(); ?>" class="ejc-link">
								<h2><?php echo $ar_ejc->getEdition(); ?>° EJC <?php echo $o_parish->getNickname(); ?></h2>
							</a>
							<a href="?controle=Parish&acao=show&id=<?php echo $o_parish->getId(); ?>" class="parish-link">
								<h3>Paróquia <?php echo $o_parish->getName(); ?></h3>
							</a>
						</div>
					</li>
					<?php
					}
					?>
				</ul>

			</section>
		</section>

<?php include("includes/_footer-in.php"); ?>