<?php
$body_class = "out home";
$head_title = "EJC";
include("includes/_header-out.php");
?>

		<section id="content">
			<section class="high main">
				<section class="container">
					<h1 class="cover-heading">
						<a href="?controle=Home&acao=showHome">
							<img src="template/images/logo-dove-ejc.png" alt="" class="logo-dove-ejc">
						</a>
					</h1>
					<div class="start-wrapper">
						<p>Perseverar é a palavra que move a Fé"</p>
						<p class="lead">No EJC você pode se conectar com Deus e ver que ele é o mais importante em sua vida..</p>
						<p class="lead">
							<a href="?controle=Login&acao=showLogin" class="btn btn-lg btn-default">Login</a>
						</p>
					</div>
				</section>
			</section>
		</section>

<?php include("includes/_footer-out.php"); ?>