<?php
$v_params = $this->getParams();
$st_errorMessage = $v_params['st_errorMessage'];

$body_class = "out login";
$head_title = "Login | EJC";
include("includes/_header-out.php");
?>

		<section id="content">
			<section class="high main">
				<section class="container">
					<h1 class="cover-heading">
						<a href="?controle=Home&acao=showHome">
							<img src="template/images/logo-dove-ejc.png" alt="" class="logo-dove-ejc">
						</a>
					</h1>
					<div class="form-wrapper">
						<form method="post" role="form" class="form-horizontal">
							<input type='hidden' name='controle' value='Login'>
							<input type='hidden' name='acao' value='login'>
							<div class="form-group">
								<label for="login">Login</label>
								<input type="text" name="login" maxlength="50" id="login" class="form-control" placeholder="Entre com login" />
							</div>
							<div class="form-group">
								<label for="password">Senha</label>
								<input type="password" name="password" maxlength="50" id="password" class="form-control" />
							</div>
							<button type="submit" class="btn btn-default">Entrar</button>
						</form>
						<p style="color: red;"><?php echo $st_errorMessage; ?></p>
					</div>
				</section>
			</section>
		</section>

<?php include("includes/_footer-out.php"); ?>