<?php
$o_security = new Security();
$o_security->pagePermission(1);

$v_params = $this->getParams();
$o_member = $v_params['o_member'];
$o_contact = $o_member->getContact();
$o_image = $o_member->getImage();
$o_memberEJC = $o_member->getMemberEJC();

$body_class = "admin";
$head_title = "Reginaldo Morais | Membro";

include("includes/_header-in.php");
?>

		<section id="content">
			<section class="container">
				<?php
				$wall = "";
				if (!empty($o_image->ar_all)) {
					foreach ($o_image->ar_all as $ar_image) {
						if ($ar_image->getTypeId() == 2)
							$wall = "wall";
					}
				}
				?>
				<section id="member-wall" class="<?php echo $wall; ?>">
					<section id="photo">
						<?php
						if (!empty($o_image->ar_all)) {
							$hasPhoto = false;
							foreach ($o_image->ar_all as $ar_image) {
								if ($ar_image->getTypeId() == 1) {
									$hasPhoto = true;
						?>
						<img src="<?php echo $ar_image->getUrl(); ?>" class="user-photo">
						<?php
								}

								if ($ar_image->getTypeId() == 2) {
									echo '<style>#member-wall { min-height: 300px; background: url("'.$ar_image->getUrl().'") no-repeat center center; background-size: 100%; } </style>';
								}
							}
							if (!$hasPhoto) {
						?>
						<img src="template/images/upload/user-default.jpg" class="user-photo">
						<?php
							}
						} else {
						?>
							<img src="template/images/upload/user-default.jpg" class="user-photo">
						<?php
						}
						?>
					</section>
					<section id="member-info">
						<h2><?php echo $o_member->getName(); ?></h2>
						<?php
						foreach ($o_memberEJC->ar_all as $ar_memberEJC) {
							if ($ar_memberEJC->getActionId() == 1) {
						?>
						<p class="origin"><?php echo $ar_memberEJC->getEJC() ."° EJC ". $ar_memberEJC->getParishNickname(); ?></p>
						<?php
							}
						}
						?>
					</section>
				</section>

				<div class="timeline">
					<ul class="cbp_tmtimeline">
						<?php
						foreach ($o_memberEJC->ar_all as $ar_memberEJC) {
							$o_team = $ar_memberEJC->getTeam();
							$o_area = $ar_memberEJC->getArea();
							$o_action = $ar_memberEJC->getAction();
						?>
						<li>
							<time class="cbp_tmtime" datetime="<?php echo $ar_memberEJC->getDate(); ?>"><span></span> <span><?php echo $ar_memberEJC->getDateSt(); ?></span></time>
							<div class="icon-timeline fa-phone"></div>
							<div class="cbp_tmlabel">
								<h2><?php echo $ar_memberEJC->getEJC() ."° EJC ". $ar_memberEJC->getParishNickname(); ?></h2>
								<?php
								if ($o_action->getId() == 1) {
								?>
								<p>
									Fez o <?php echo $ar_memberEJC->getEJC() ."° EJC da Paróquia ". $ar_memberEJC->getParish(); ?>
								</p>
								<?php
								} else if ($o_action->getId() == 2) {
								?>
								<p>
									Participou do <?php echo $o_area->getName(); ?>
								</p>
								<?php
								} else if ($o_action->getId() == 3) {
								?>
								<p>
									Trabalhou na <?php echo $o_area->getName(); ?> do <?php echo $ar_memberEJC->getEJC() ."° EJC ". $ar_memberEJC->getParishNickname(); ?>
								</p>
								<?php
								} else if ($o_action->getId() == 4) {
								?>
								<p>
									Como <?php echo $o_team->getName(); ?>, trabalhou como <?php echo $o_area->getName(); ?>, no ciclo do <?php echo $ar_memberEJC->getEJC() ."° EJC ". $ar_memberEJC->getParishNickname(); ?>
								</p>
								<?php
								}
								?>
							</div>
						</li>
						<?php
						}
						?>
					</ul>
				</div>
			</section>
		</section>

<?php include("includes/_footer-in.php"); ?>