<?php
$o_security = new Security();
$o_security->pagePermission(1);

$v_params = $this->getParams();
$o_member = $v_params['o_member'];

$body_class = "member-list";
$head_title = "Membros | EJC";

include("includes/_header-in.php");
?>

		<section id="content">
			<section class="container">

				<section id="search-area" style="display: none;">
					<section class="inner-search-area">
						<input type="text" placeholder="Encontre" class="search-box">
						<button class="search-button">find</button>
					</section>
				</section>

				<ul id="members-list" class="list">
					<?php
					if(empty($o_member->ar_all)) 
						echo "Salcifufu";
					
					foreach ($o_member->ar_all as $key => $ar_member) {
						$o_ejc = $ar_member->getEJC();
						$o_photo = $ar_member->getImage();
						$o_parish = $o_ejc->getParish();
					?>
					<li class="member">
						<div class="link-wrapper">
							<a href="?controle=Member&acao=show&id=<?php echo $ar_member->getId(); ?>" class="member-link link">
								<img src="<?php echo $o_photo->getUrl(); ?>" class="user-photo">
							</a>
						</div>
						<div class="member-info info">
							<a href="?controle=Member&acao=show&id=<?php echo $ar_member->getId(); ?>" class="member-link">
								<h2><?php echo $ar_member->getName(); ?></h2>
							</a>
							<a href="?controle=EJC&acao=show&id=<?php echo $o_ejc->getId(); ?>" class="ejc-link">
								<h3><?php echo $o_ejc->getEdition(); ?>° EJC <?php echo $o_parish->getNickname(); ?></h3>
							</a>
						</div>
					</li>
					<?php
					}
					?>
				</ul>

			</section>
		</section>

<?php include("includes/_footer-in.php"); ?>