<?php
$v_params = $this->getParams();
$st_errorMessage = $v_params['st_errorMessage'];

$body_class = "out login";
$head_title = "Login | EJC";
include("includes/_header-out.php");
?>

		<section id="content">
			<section class="high">
				<section class="container">
					<h1 class="cover-heading">
						<a href="?controle=Home&acao=showHome">
							<img src="template/images/logo-dove-ejc.png" alt="" class="logo-dove-ejc">
						</a>
					</h1>
					<div class="start-wrapper"><p>Ficha de Inscrição para o 6º EJC</p></div>
				</section>
			</section>
			<section class="container">
				<div class="form-wrapper requestform">
					<form method="post" role="form" class="form-horizontal">
						<input type='hidden' name='controle' value='Candidate'>
						<input type='hidden' name='acao' value='request'>
						<h3>Dados do candidato</h3>
						<div class="form-group">
							<label for="name">Nome</label>
							<input type="text" name="name" maxlength="250" id="name" class="form-control" placeholder="Nome completo " value="<?php $v_params['name']; ?>"/>
						</div>
						<div class="form-group">
							<?php 
								$genderFem = ""; 
								$genderMasc = ""; 
								if ( $v_params['gender'] == 2 ) { $genderFem = 'checked="checked"'; } 
								else { $genderMasc = 'checked="checked"'; } 
							?>
							<label for="gender">Sexo</label>
							<div class="radios">
								<input type="radio" name="gender" id="genderMasc" <?php echo $genderMasc; ?> class="form-control gender" value="1">
								<label for="genderMasc">masculino</label>
							</div>
							<div class="radios">
								<input type="radio" name="gender" id="genderFem" <?php echo $genderFem; ?> class="form-control gender" value="2">
								<label for="genderFem">Feminino</label>
							</div>
						</div>
						<div class="form-group">
							<label for="birthdate-day">Data de Nascimento</label>
							<input type="text" name="birthdate-day" maxlength="2" id="birthdate-day" class="form-control birthdate" placeholder="Dia" value="<?php $v_params['birthdate-day']; ?>" />
							<input type="text" name="birthdate-month" maxlength="2" id="birthdate-month" class="form-control birthdate" placeholder="Mês" value="<?php $v_params['birthdate-month']; ?>" />
							<input type="text" name="birthdate-year" maxlength="4" id="birthdate-year" class="form-control birthdate" placeholder="Ano" value="<?php $v_params['birthdate-year']; ?>" />
						</div>
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="text" name="email" maxlength="100" id="email" class="form-control" placeholder="Entre o email" value="<?php $v_params['email']; ?>" />
						</div>
						<div class="form-group">
							<label for="phone">Telefone</label>
							<input type="text" name="phone" maxlength="15" id="phone" class="form-control phone" placeholder="(00) 0000-0000" value="<?php $v_params['phone']; ?>" />
						</div>
						<div class="form-group">
							<label for="cellphone">Celular</label>
							<input type="text" name="cellphone" maxlength="15" id="cellphone" class="form-control phone" placeholder="(00) 00000-0000" value="<?php $v_params['cellphone']; ?>" />
							<select name="phoneCompany" id="phoneCompany" class="form-control">
								<option value="0" <?php if ( $v_params['phoneCompany'] == 0 ) echo 'selected="selected"'; ?> >Operadora</option>
								<option value="1" <?php if ( $v_params['phoneCompany'] == 1 ) echo 'selected="selected"'; ?> >TIM</option>
								<option value="2" <?php if ( $v_params['phoneCompany'] == 2 ) echo 'selected="selected"'; ?> >Claro</option>
								<option value="3" <?php if ( $v_params['phoneCompany'] == 3 ) echo 'selected="selected"'; ?> >Vivo</option>
								<option value="4" <?php if ( $v_params['phoneCompany'] == 4 ) echo 'selected="selected"'; ?> >Oi</option>
								<option value="5" <?php if ( $v_params['phoneCompany'] == 5 ) echo 'selected="selected"'; ?> >Nextel</option>
							</select>
						</div>
						<hr/>
						<div class="form-group">
							<label for="maritalStatus">Estado Civil</label>
							<select name="maritalStatus" id="maritalStatus" class="form-control">
								<option value="0" <?php if ( $v_params['maritalStatus'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="S" <?php if ( $v_params['maritalStatus'] == 1 ) echo 'selected="selected"'; ?> >Solteiro</option>
								<option value="M" <?php if ( $v_params['maritalStatus'] == 2 ) echo 'selected="selected"'; ?> >Casado</option>
								<option value="D" <?php if ( $v_params['maritalStatus'] == 3 ) echo 'selected="selected"'; ?> >Separado</option>
								<option value="W" <?php if ( $v_params['maritalStatus'] == 4 ) echo 'selected="selected"'; ?> >Viúvo</option>
								<option value="O" <?php if ( $v_params['maritalStatus'] == 5 ) echo 'selected="selected"'; ?> >Outros</option>
							</select>
						</div>
						<div class="form-group">
							<label for="children">Possui filhos?</label>
							<div class="radios">
								<input type="radio" name="children" id="childrenYes" class="form-control children" value="1">
								<label for="childrenYes">Sim</label>
							</div>
							<div class="radios">
								<input type="radio" name="children" id="childrenNo" class="form-control children" value="0">
								<label for="childrenNo">Não</label>
							</div>
						</div>
						<hr/>
						<div class="form-group">
							<label for="address">Endereço</label>
							<input type="text" name="address" id="address" class="form-control" placeholder="Endereço" value="<?php $v_params['address']; ?>" />
						</div>
						<div class="form-group">
							<label for="number">Número</label>
							<input type="text" name="number" id="number" class="form-control" placeholder="N°" value="<?php $v_params['number']; ?>" />
						</div>
						<div class="form-group" id="neighborhood-wrapper">
							<label for="neighborhood">Bairro</label>
							<input type="text" name="neighborhood" maxlength="100" id="neighborhood" class="form-control" placeholder="bairro" value="<?php $v_params['neighborhood']; ?>" />
						</div>
						<div class="form-group" id="cep-wrapper">
							<label for="cep">CEP</label>
							<input type="text" name="cep" maxlength="9" id="cep" class="form-control" placeholder="00000-000" value="<?php $v_params['cep']; ?>" />
						</div>
						<div class="form-group">
							<label for="city">Cidade</label>
							<input type="text" name="city" maxlength="100" id="city" class="form-control" placeholder="Cidade" value="<?php $v_params['city']; ?>" />
						</div>
						<div class="form-group">
							<label for="state">Estado</label>
							<select name="state" id="state" class="form-control">
								<option value="0" <?php if ( $v_params['state'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['state'] == 1 ) echo 'selected="selected"'; ?> >Rio de janeiro</option>
								<option value="2" <?php if ( $v_params['state'] == 2 ) echo 'selected="selected"'; ?> >São Paulo</option>
							</select>
						</div>
						<hr/>
						<div class="form-group">
							<label for="whoLives">Mora com quem?</label>
							<select name="whoLives" id="whoLives" class="form-control">
								<option value="0" <?php if ( $v_params['whoLives'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['whoLives'] == 1 ) echo 'selected="selected"'; ?> >Sozinho</option>
								<option value="2" <?php if ( $v_params['whoLives'] == 2 ) echo 'selected="selected"'; ?> >Pais</option>
								<option value="3" <?php if ( $v_params['whoLives'] == 3 ) echo 'selected="selected"'; ?> >Namorado(a)</option>
								<option value="4" <?php if ( $v_params['whoLives'] == 4 ) echo 'selected="selected"'; ?> >Parentes</option>
								<option value="5" <?php if ( $v_params['whoLives'] == 5 ) echo 'selected="selected"'; ?> >Amigos</option>
							</select>
						</div>
						<div class="form-group">
							<label for="studies">Estuda?</label>
							<select name="studies" id="studies" class="form-control">
								<option value="0" <?php if ( $v_params['studies'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['studies'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['studies'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<div class="form-group">
							<label for="education">Escolaridade</label>
							<input type="text" name="education" id="education" class="form-control" placeholder="" value="<?php $v_params['education']; ?>" />
						</div>
						<div class="form-group">
							<label for="works">Trabalha?</label>
							<select name="works" id="works" class="form-control">
								<option value="0" <?php if ( $v_params['works'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['works'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['works'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<hr/>
						<div class="form-group">
							<label for="baptized">É batizado?</label>
							<select name="baptized" id="baptized" class="form-control">
								<option value="0" <?php if ( $v_params['baptized'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['baptized'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['baptized'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<div class="form-group">
							<label for="firstCommunion">Fez 1° Comunhão?</label>
							<select name="firstCommunion" id="firstCommunion" class="form-control">
								<option value="0" <?php if ( $v_params['firstCommunion'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['firstCommunion'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['firstCommunion'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<div class="form-group">
							<label for="confirmed">É crismado?</label>
							<select name="confirmed" id="confirmed" class="form-control">
								<option value="0" <?php if ( $v_params['confirmed'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['confirmed'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['confirmed'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<div class="form-group">
							<label for="confession">Há quanto tempo não se confessa?</label>
							<input type="text" name="confession" id="confession" class="form-control" placeholder="" value="<?php $v_params['confession']; ?>" />
						</div>
						<div class="form-group">
							<label for="otherReligion">Frequentou outra religião?</label>
							<select name="otherReligion" id="otherReligion" class="form-control">
								<option value="0" <?php if ( $v_params['otherReligion'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['otherReligion'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['otherReligion'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<div class="form-group">
							<label for="otherMovement">Frequentou outro movimento na Igreja?</label>
							<select name="otherMovement" id="otherMovement" class="form-control">
								<option value="0" <?php if ( $v_params['otherMovement'] == 0 ) echo 'selected="selected"'; ?> >Selecione</option>
								<option value="1" <?php if ( $v_params['otherMovement'] == 1 ) echo 'selected="selected"'; ?> >Sim</option>
								<option value="2" <?php if ( $v_params['otherMovement'] == 2 ) echo 'selected="selected"'; ?> >Não</option>
							</select>
						</div>
						<div class="form-group">
							<label for="whichMovement">Qual movimento?</label>
							<input type="text" name="whichMovement" id="whichMovement" class="form-control" placeholder="" value="<?php $v_params['whichMovement']; ?>" />
						</div>
						<hr/>
						<h3>Filiação do candidato</h3>
						<div class="form-group">
							<label for="fatherName">Nome do Pai</label>
							<input type="text" name="fatherName" maxlength="250" id="fatherName" class="form-control" placeholder="Nome completo Pai" value="<?php $v_params['fatherName']; ?>" />
						</div>
						<div class="form-group">
							<label for="fatherReligion">Religião do Pai</label>
							<input type="text" name="fatherReligion" maxlength="100" id="fatherReligion" class="form-control" placeholder="Religião do Pai" value="<?php $v_params['fatherReligion']; ?>" />
						</div>
						<div class="form-group">
							<label for="fatherAddress">Endereço do Pai</label>
							<input type="text" name="fatherAddress" id="fatherAddress" class="form-control" placeholder="Endereço completo do Pai" value="<?php $v_params['fatherAddress']; ?>" />
						</div>
						<div class="form-group">
							<label for="fatherPhone">Telefone do Pai</label>
							<input type="text" name="fatherPhone" maxlength="15" id="fatherPhone" class="form-control" placeholder="(00) 00000-0000" value="<?php $v_params['fatherPhone']; ?>" />
						</div>
						<hr/>
						<div class="form-group">
							<label for="motherName">Nome da Mãe</label>
							<input type="text" name="motherName" maxlength="250" id="motherName" class="form-control" placeholder="Nome completo da Mãe" value="<?php $v_params['motherName']; ?>" />
						</div>
						<div class="form-group">
							<label for="motherReligion">Religião da Mãe</label>
							<input type="text" name="motherReligion" maxlength="100" id="motherReligion" class="form-control" placeholder="Religião da Mãe" value="<?php $v_params['motherReligion']; ?>" />
						</div>
						<div class="form-group">
							<label for="motherAddress">Endereço da Mãe</label>
							<input type="text" name="motherAddress" id="motherAddress" class="form-control" placeholder="Endereço completo da Mãe" value="<?php $v_params['motherAddress']; ?>" />
						</div>
						<div class="form-group">
							<label for="motherPhone">Telefone da Mãe</label>
							<input type="text" name="motherPhone" maxlength="15" id="motherPhone" class="form-control" placeholder="(00) 00000-0000" value="<?php $v_params['motherPhone']; ?>" />
						</div>
						<hr/>
						<h3>Contatos do candidato</h3>
						<div class="form-group">
							<label for="friendName1">Nome de um Amigo(a) próximo(a) - 1</label>
							<input type="text" name="friendName1" maxlength="100" id="friendName1" class="form-control" placeholder="Amigo que não esteja se inscrevendo" value="<?php $v_params['friendName1']; ?>" />
						</div>
						<div class="form-group">
							<label for="friendPhone1">Telefone do amigo - 1</label>
							<input type="text" name="friendPhone1" maxlength="15" id="friendPhone1" class="form-control" placeholder="(00) 0000-0000" value="<?php $v_params['friendPhone1']; ?>" />
						</div>
						<div class="form-group">
							<label for="friendCellPhone1">Celular do amigo - 1</label>
							<input type="text" name="friendCellPhone1" maxlength="15" id="friendCellPhone1" class="form-control" placeholder="(00) 00000-0000" value="<?php $v_params['friendCellPhone1']; ?>" />
						</div>
						<hr/>
						<div class="form-group">
							<label for="friendName2">Nome de um Amigo(a) próximo(a) - 2</label>
							<input type="text" name="friendName2" maxlength="100" id="friendName2" class="form-control" placeholder="Amigo que não esteja se inscrevendo" value="<?php $v_params['friendName2']; ?>" />
						</div>
						<div class="form-group">
							<label for="friendPhone2">Telefone do amigo - 2</label>
							<input type="text" name="friendPhone2" maxlength="15" id="friendPhone2" class="form-control" placeholder="(00) 0000-0000" value="<?php $v_params['friendPhone2']; ?>" />
						</div>
						<div class="form-group">
							<label for="friendCellPhone2">Celular do amigo - 2</label>
							<input type="text" name="friendCellPhone2" maxlength="15" id="friendCellPhone2" class="form-control" placeholder="(00) 00000-0000" value="<?php $v_params['friendCellPhone2']; ?>" />
						</div>
						<hr/>
						<h3>Perguntas relacionadas ao encontro</h3>
						<div class="form-group">
							<label for="reason">Porque quer fazer o encontro?</label>
							<input type="text" name="reason" id="reason" class="form-control" placeholder="" value="<?php $v_params['confession']; ?>" />
						</div>
						<div class="form-group">
							<?php 
								$canGoYes = ""; 
								$canGoNo = "";
								if ( $v_params['canGo'] == 0 ) { $canGoNo = 'checked="checked"'; } 
								else { $canGoYes = 'checked="checked"'; } 
							?>
							<label for="canGo">O retiro será fechado e acontecerá nos dias xx, yy e zz de Maio, você teria problemas em se ausentar neste fim de semana?</label>
							<div class="radios">
								<input type="radio" name="canGo" id="canGoYes" <?php echo $canGoYes; ?> class="form-control canGo" value="1">
								<label for="genderMasc">Sim</label>
							</div>
							<div class="radios">
								<input type="radio" name="canGo" id="canGoNo" <?php echo $canGoNo; ?> class="form-control canGo" value="0">
								<label for="genderFem">Não</label>
							</div>
						</div>
						<hr/>
							<div class="form-group">
								<label for="memberName">Quem increveu</label>
								<input type="text" name="memberName" maxlength="100" id="memberName" class="form-control" placeholder="Nome completo do membro que fez a inscreveu" value="<?php $v_params['memberName']; ?>" />
							</div>
						<hr/>

						<button type="submit" class="btn btn-default">Salvar</button>
					</form>
					<p style="color: red;"><?php echo $st_errorMessage; ?></p>
				</div>
			</section>
		</section>

<?php include("includes/_footer-out.php"); ?>