/**
* Responsável pelo estilo da home
* 
* @package EJC
* @author Reginaldo Morais
* @version 0.0.1
*/
html, body {
	height: 100%;
	background-color: #FFF;
}

body.out {
	color: #666;
	text-align: center;
}

body.out #container {
	padding-top: 0;
}

body.out #header {
	background-color: #005a9e;
	color: #FFF;
	margin-bottom: 2px;
}

body.out #content {
	color: #FFF;
	text-align: center;
	background-color: transparent;
}

body.out #footer {
	background-color: #FFF;
}

body.out .high {
	background-color: #0072c6;
	color: #FFF;
}

#content > section.high > section > * {
vertical-align: middle;
}

body.out #header ul, 
body.out #header li {
	padding: 0;
	margin: 0;
	text-align: center;
}

body.out #header .nav li {
	display: inline-block;
	margin: 0 10px;
}

body.out #header .nav li a {
	display: inline-block;
	font-size: 13px;
	margin: 0 10px;
	padding: 15px;
	color: #FFF;
	text-transform: uppercase;
}

.nav > li > a:hover, 
.nav > li > a:focus {
	text-decoration: none;
	background-color: #47CEFF;
}

body.out #content h1 {
	display: inline-block;
}

body.out #content h1,
body.out #content p {
	text-align: left;
}

body.out h1 a {
	display: block;
}

body.out h1 span {
	display: inline-block;
}

body.out h1 .logo-dove-ejc {
	display: inline-block;
	width: 60px;
}

body.out .main h1 .logo-dove-ejc {
	width: 100px;
}

body.out .start-wrapper {
	display: inline-block;
	margin: 15px 20px;
	padding: 30px 20px;
	width: 50%;
}

body.out #content p {
	font-size: 12px;
}

body.out #content p:first-child {
	font-size: 22px;
	margin-top: 20px;
}

.btn-default {
	background-color: #0BF;
	border: 0 none;
	border-radius: 0;
	color: #fff;
	padding: 6px 12px;
	margin-left: -15px;
	font-size: 18px;
}

.btn-default:hover, 
.btn-default:focus {
	background-color: #47CEFF;
	border: 0 none;
	color: #fff;
}

body.out .form-wrapper {
	display: inline-block;
	width: 400px;
	padding: 30px 100px;
	text-align: left;
}

body.out #footer p {
	color: #666;
	margin: 20px 0;
}

.media {
	padding: 20px 0;
}

.media-body {
	color: #666;
	text-align: left;
}

/* Request Form */

body.out .requestform {
	width: 600px;
	background-color: #F7F7F7;
}

.requestform label {
	color: #4b4b4b;
	display: block;
}

.requestform h3 {
	color: #0072C6;
	display: inline-block;
	margin-bottom: 20px;
	font-size: 16px;
}

div.radios {
	margin-right: 5px;
}

div.radios, 
div.radios input, 
div.radios label {
	display: inline-block;
}

div.radios input {
	width: auto;
	height: auto;
}

div.radios label {
	margin-left: 2px;
}

.birthdate {
	width: 50px;
	display: inline-block;
}

#birthdate-month {
	width: 55px;
}

#birthdate-year {
	width: 70px;
}

.phone {
	width: 140px;
	display: inline-block;
}

#phoneCompany {
	width: 110px;
	display: inline-block;
}

#maritalStatus {
	width: 70%;
}

#number,
#cep {
	width: 100px;
}

#neighborhood-wrapper {
	width: 64%;
	display: inline-block;
	margin-right: 8%;
}

#cep-wrapper {
	width: 42%;
	display: inline-block;
}

@media only screen and (max-width: 760px) {
	body.out .requestform {
		width: 288px;
		padding: 30px;
	}
}

@media only screen and (max-width: 560px) {
	body.out #content h1.cover-heading {
		width: 100%;
		text-align: center;
	}
	body.out .start-wrapper {
		width: 89%;
	}
	body.out .start-wrapper p {
		font-size: 18px !important;
		text-align: center !important;
	}
	body.out #header .nav li {
		margin: 0;
	}
	body.out .form-wrapper {
		width: 250px;
		padding: 30px 50px;
	}
	body.out .requestform {
		width: 288px;
		padding: 30px;
	}
}