/*

	Novo Header:

	a { color: #0BF; }
	a:hover { color: #47CEFF; }
	header { background: #FFF; border-bottom: 1px solid #E5E5E5; }

*/


@font-face {
	font-family: 'FuturaStd-Medium';
	src:url('../fonts/FuturaStd-MediumOblique.otf');
	font-weight: normal;
	font-style: normal;
}

a { 
	color: #0BF; 
}

a:hover {
	color: #47CEFF;
	text-decoration: none;
}

a [class^="icon-"], a 
[class*=" icon-"] {
	display: inline;
}

input:focus, textarea:focus, isindex:focus, keygen:focus, select:focus {
	outline: 0 none;
}

[class^="icon-"], 
[class*=" icon-"], 
[class^="icon-"]:hover, 
[class*=" icon-"]:hover {
	background: none !important;
}

[class^="icon-"], 
[class*=" icon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}

[class^="icon-"], 
[class*=" icon-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

.gn-menu [class^="fa-"]:before, 
.gn-menu [class*=" fa-"]:before {
	display: inline-block;
	width: 60px;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.gn-menu [class^="icon-"], 
.gn-menu [class*=" icon-"] {
	line-height: inherit;
}

body {
	background-color: #F2F9FC;
}

#container {
	padding-top: 100px;
	background-color: transparent;
}

#header {
	display: block;
	background: #FFF; 
	border-bottom: 1px solid #E5E5E5;

	-webkit-font-smoothing: antialiased;
	font-family: "FuturaStd-Medium";
}

#header.blue {
	display: block;
	background: #FFF; 
	border-bottom: 1px solid #E5E5E5;

	-webkit-font-smoothing: antialiased;
	font-family: "FuturaStd-Medium";
/*
	-webkit-box-shadow: 0px 0px 10px 0px #CCC;
	-moz-box-shadow: 0px 0px 10px 0px #CCC;
	box-shadow: 0px 0px 10px 0px #CCC;
*/
	
	background: #697dc2; /* Old browsers */
	background: -moz-linear-gradient(top, #697dc2 0%, #6268b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#697dc2), color-stop(100%,#6268b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #697dc2 0%,#6268b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #697dc2 0%,#6268b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #697dc2 0%,#6268b2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #697dc2 0%,#6268b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#697dc2', endColorstr='#6268b2',GradientType=0 ); /* IE6-9 */
}

#header.blue2 {
	background: #3594cb; /* Old browsers */
	background: -moz-linear-gradient(top, #3594cb 0%, #326dba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3594cb), color-stop(100%,#326dba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3594cb 0%,#326dba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3594cb 0%,#326dba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3594cb 0%,#326dba 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3594cb 0%,#326dba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3594cb', endColorstr='#326dba',GradientType=0 ); /* IE6-9 */
}

#header #user {
	background-color: #0BF;
}

#content {
	color: #6B6B6B;
	text-align: left;
	background-color: #F2F9FC;
}

#footer {
	color: #FFF;
	background-color: #0BF;
}

#header > div {
	display: block;
}


/* Member List */

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	/*margin-top: 30px;*/
}

.list li {
	display: inline-block;
	background-color: #FFF;

	-webkit-box-shadow: 0px 2px 5px -2px #999;
	-moz-box-shadow: 0px 2px 5px -2px #999;
	box-shadow: 0px 2px 5px -2px #999;
}

.list li .link-wrapper {
	display: inline;
}

.list li a.link,
.list li img,
.list li .info {
	display: inline-block;
}

.list > li > * {
	vertical-align: middle;
}

.list li img {
	width: 100%;
}

.list li .info {
	padding-left: 4%;
	width: 70%;
}

.list li a.link {
	color: #0279A3;
	width: 25%;
}

.list li a.link:hover {
	color: #47CEFF;
}

.list li h2 {
	font-size: 16px;
	margin: 0;
}

.list li h3 {
	color: #798996;
	margin: 0;
	font-size: 13px;
	margin-top: 5px;
}

.list li p {
	
}

/* column */

.list > * {
	margin-right: 3%;
	margin-bottom: 3%;
	font-size: 13px; /* $defaultTextSize */
}

.lt-ie8 .list > * {
	left: 1px;
	margin-left: -1px;
}

body:nth-child(2) .list {
	width: 100%;
}

.list {
	width: 102%;
}

body:nth-child(2) .list > * {
	width: 31%;
}

.list > * {
	width: 14%;
}

.list > *:nth-child(3n) {
	margin-right: 0;
}

@media only screen and (max-width: 1000px) and (min-width: 761px) {
	body:nth-child(2) .list > * {
		width: 30.9%;
	}

	.list > * {
		width: 17%;
	}

	.list > * {
		margin-right: 3%;
	}

	.list > *:nth-child(3n) {
		margin-right: 4%;
	}

	.list > *:nth-child(3n) {
		margin-right: 0;
	}

	.list li h2 {
		font-size: 14px;
	}

	.list li h3 {
		font-size: 11px;
	}
}

@media only screen and (max-width: 760px) and (min-width: 461px) {
	body:nth-child(2) .list > * {
		width: 47%;
	}

	.list > * {
		width: 23.333%;
	}

	.list > * {
		margin-right: 4%;
	}

	.list > *:nth-child(4n),
	.list > *:nth-child(3n) {
		margin-right: 4%;
	}

	.list > *:nth-child(2n) {
		margin-right: 0;
	}
}

@media only screen and (max-width: 560px) {
	body:nth-child(2) .list > * {
		width: 100%;
		margin-right: 0;
	}

	.list > * {
		width: 38%;
		margin-bottom: 5%;
	}

	.list > * {
		margin-right: 12%;
	}

	.list .info h3 {
		font-size: 12px;
	}

	.list > *:nth-child(4n),
	.list > *:nth-child(3n) {
		margin-right: 12%;
	}

	.list > *:nth-child(2n) {
		margin-right: 0;
	}
}


/* search-box */

#search-area {
	width: 100%;
	text-align: center;
}

#search-area .inner-search-area {
	max-width: 30%;
	position: relative;
	margin: 0 auto;
}

#search-area .search-box {
	border-radius: 22px;
	border: 0 none;
	padding: 5px 35px 5px 10px;
	box-shadow: inset 0 0 8px -3px #000;
	width: 100%;
}

#search-area .search-button {
	background: url("../images/sprite@1.png") no-repeat 0 0;
	font-size: 0;
	border: 0 none;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 6px;
	right: 10px;
	opacity: 0.4;
}

#search-area .search-button:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 990px) and (min-width: 761px) {
	#search-area .inner-search-area {
		width: 40%;
	}
}

@media only screen and (max-width: 760px) {
	#search-area .inner-search-area {
		width: 50%;
	}
}

@media only screen and (max-width: 560px) {
	#search-area .inner-search-area {
		width: 100%;
	}
}


/* Member */

#member-wall {
	position: relative;
	margin-top: -21px;
	min-height: 200px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 5px -2px #999;
	-moz-box-shadow: 0px 2px 5px -2px #999;
	box-shadow: 0px 2px 5px -2px #999;
	border-radius: 0 0 0 50%;
}

#member-wall.wall {
	-webkit-box-shadow: 0px 2px 5px -2px #000;
	-moz-box-shadow: 0px 2px 5px -2px #999;
	box-shadow: 0px 2px 5px -2px #000;
	border-radius: 0 0 0 50%;
}

#photo {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: 4px solid #FFF;
	-webkit-box-shadow: 0px 2px 5px -2px #999;
	-moz-box-shadow: 0px 2px 5px -2px #999;
	box-shadow: 0px 2px 5px -2px #999;
	border-radius: 50%;
}

#photo img {
	width: 150px;
	border-radius: 50%;
}

#member-info {
	position: absolute;
	bottom: 45px;
	left: 200px;
}

#member-info h2 {
	
}

#member-info p.origin {
	font-size: 20px;
}

.wall #member-info h2 { 
	color: #FFF; 
	text-shadow: 0px 1px 4px #000;
} 

.wall #member-info p.origin { 
	color: #FFF; 
	font-size: 20px; 
	text-shadow: 0px 1px 4px #000;
}

@media only screen and (max-width: 760px) {
	#member-info {
		bottom: 30px;
		left: 160px;
	}

	#member-info h2 {
		font-size: 20px;
	}

	#member-info p.origin {
		font-size: 14px;
	}

	#photo img {
		width: 120px;
	}
}

@media only screen and (max-width: 560px) {
	#member-wall {
		background-size: 200% !important;
	}
}



